{% extends 'base.html' %}

{% block head %}
<title>Calculator</title>
{% endblock %}

{% block body %}
<h1>Calculator</h1>
<div>
    <form id="angles" action="/truthtable" method="POST">
        <div class="form-group">
            <label for="decimals" class="col-sm-2 text-nowrap">Syntax as the following:  </label>
            <br>
            <label for="decimals" class="col-sm-2 text-nowrap">x' = not x </label>
            <br>
            <label for="decimals" class="col-sm-2 text-nowrap">x*y = x and y </label>
            <br>
            <label for="decimals" class="col-sm-2 text-nowrap">x+y = x or y </label>
            <br>
            <label for="decimals" class="col-sm-2 text-nowrap">Only letters can be used as variables. i.e. a*b'+c </label>
            <br>

            <label for="decimals" class="col-sm-2 text-nowrap">Please input your formula: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="formula" id="formula"
                    value="{% if result %}{{ result.formula }}{% endif %}">
            </div>
        </div>
        <input type="submit" name="submit" id="submit" value="Calculate" />

    </form>
</div>
{% if result and result.message %}
<br>
<br>
<br>
<div>
    <h2>ERROR: {{ result.message}}</h2>
</div>

{% elif result and result.result %}
<div>
    <h2>Truth Table:</h2>
    <div>
        <table>
            <tr>
                {% for key in result.key_order %}
                <th> {{ key }} </th>
                {% endfor %}
            </tr>
            {% for i in range(result["result"]|length) %}
            <tr>
                {% for key in result.key_order %}
                <td>{{ result[key][i]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    {% endblock %}